/* 基础设置 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
li,
dt,
dd {
  margin: 0;
  padding: 0;
}
ul,
ol {
  /* 去掉小圆点 */
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  /* 父元素字号的百分比 */
  font-size: 100%;
}
b,
strong {
  font-weight: 400;
}
i,
em {
  /* 不倾斜 */
  font-style: normal;
}
u,
ins,
s,
del {
  text-decoration: none;
}
img {
  /* 底部留白 */
  display: block;
}
input,
button {
  /* 去除轮廓线 */
  outline: none;
  border: none;
}
input {
  /* 去掉表单的默认内边距 */
  padding: 0;
}
.clearFix::after {
  content: "";
  display: block;
  clear: both;
}
/* 风格设置 */
body {
  color: #969393;
}
